@using Entities.Concrete
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategoriler</h2>
<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Başlıklar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.CategoryId</th>
                <td>@item.CategoryName</td>
                <td>
                    <a class="btn btn-danger btn-sm" href="/AdminCategory/DeleteCategory/@item.CategoryId">
                        <i style="padding:5px" class="fas fa-trash">
                        </i>
                        Sil
                    </a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="/AdminCategory/EditCategory/@item.CategoryId">
                        <i style="padding:5px" class="fas fa-pencil-alt">
                        </i>
                        Düzenle
                    </a>
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="#">
                        <i style="padding:5px" class="fas fa-folder">
                        </i>
                        Başlıklar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<a href="/AdminCategory/AddCategory" class="btn btn-info">Yeni Kategori Ekle</a>

